body 
{
    background-image: url("bg.jpg");
    background-repeat: no-repeat;
    background-position: center;
    
}
#Main
{
    background-color: ghostwhite;
    width: 1101px;
    height: 612px;
    margin-top: 80px;
    margin-left: 195px;
    border-radius: 25px
}
#Title
{
    background-color:#FFFFFF;
    height: 200px;
    width:1600px;
	 border-radius: 15px;
    
	
}
.image {
  width: 800px;
  height: 800px;
  position: right;
  overflow: hidden;
  border-radius: 50%;
   padding-top: 20px;
}
.btn1 {
  display:block;
  height: 30px;
  width: 150px;
  border-radius: 50px;
  border: 1px solid #3e697d;

 
}
.caption{
   font-size: 45px;
   font-weight: bolder;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   color:#426a7c;
}
.BL {
   position: absolute;
   bottom: 8px;
   left: 16px;
}
.TL{
   position: absolute;
   top: 8px;
   left: 16px;
}
.TR {
   position: absolute;
   top: 8px;
   right: 16px;
}
.BR {
   position: absolute;
   bottom: 8px;
   right: 16px;
}
.center {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
}
H2
{
    text-align: center;
   width: 100%;
    font-size: -webkit-xxx-large;
    font-family: cursive;
    color:  #FFFFFF;
}

.Container
{
    width: 1034px;
    height: 574px;
    position: absolute;
    margin-top: 23px;
    margin-left: 45px;
}
h1
{
        font-family: cursive;
        color:  #4b7e76;
}
label
{
    font-family: cursive;
    color: darkturquoise;
}
input
{
    width: 259px;
    height: 31px;
}
#sub
{
    background-color: cadetblue;
    font-size: 17px;
    font-family: cursive;
}
.button{
                background: url(student.png) no-repeat;
                cursor:pointer;
                border: none;
            }
#img1
{
     float: right;
    width: 280px;
    height: 273px;
    margin-right: 68px;
    margin-top: 114px;
}
#contain
{
width: 368px;
    margin-left: 46px;
    margin-top: 62px;
    position: absolute;
}
#contain2
{
width: 368px;
    margin-left: 46px;
    margin-top: 345px;
    position: absolute;
}
p
{
    font-family: cursive;
    color: cadetblue;
}
footer
{
    width: 1600px;
    background-color: whitesmoke;
    margin-top: 0px;
    margin-left: 15px;
    border-radius: 25px;
    text-align: center;
}
#a1
{
    margin-left: 353px;
}